<div *ngIf="orders.length <= 0">
    <h3 class="text-center">No orders made!</h3>
</div>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Order id</th>
            <th>Number of items</th>
            <th>Total Cost</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let order of orders">
            <td>
                <h4>{{order.id}}</h4>
            </td>
            <td>
                <h4>{{order.totalQuantity}}</h4>
            </td>
            <td>
                <h4>{{order.totalCost}}</h4>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" title="Cancel Order" (click)="deleteOrder(order.id)">
                    <span class="glyphicon glyphicon-trash"></span>  
                </button>
            </td>
        </tr>
    </tbody>
</table>